- This project is made in Unity 6000.0.36f1
- The code is in the "Assets/Scripts" folder
- This project uses ML-Agents 3.0.0
- Use 3rd party libraries are in the "Assets/Libs" and "Library/PackageCache" folders to help the project code development

ML-Agents documentation
- https://github.com/Unity-Technologies/ml-agents/blob/master/docs/
- https://unity-technologies.github.io/ml-agents/Getting-Started/
- <a href="https://docs.unity3d.com/Packages/com.unity.ml-agents@3.0/manual/index.html">Manual</a>
- <a href="https://docs.unity3d.com/Packages/com.unity.ml-agents@3.0/api/index.html">Script Reference</a>
- https://unity3d.com/learn/tutorials/topics/ai/ml-agents
