- This project is made in Unity 6000.0.36f1
- The code is in the "Assets/Scripts" folder
- Use 3rd party libraries are in the "Assets/Libs" and "Library/PackageCache" folders to help the project code development